@model BookPasal.Models.Bike

<h4>Bike Form</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="BikeName" class="control-label"></label>
                <input asp-for="BikeName" class="form-control" />
                <span class="text-danger" asp-validation-for="BikeName"></span>
            </div>

            <div class="form-group">
                <label asp-for="BikeNo" class="control-label"></label>
                <input asp-for="BikeNo" class="form-control" />
                <span class="text-danger" asp-validation-for="BikeNo"></span>
            </div>

            <div class="form-group">
                <input asp-for="BikeImage" />
            </div>
            <div class="form-group">
                <input type="Submit" class="btn btn-primary" value="Create" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>