@model BookPasal.Models.Bike

<h4>Edit Bike Form</h4>

<form method="post" asp-action="Edit">

    <input type="hidden" asp-for="BikeId" />
    <label>Bike Name:</label>
    <input asp-for="BikeName" />
    <br />
    <span class="text-danger" asp-validation-for="BikeName"></span>
    <br />

    <label>Bike No:</label>
    <input asp-for="BikeNo" />
    <br />

    <input type="Submit" value="Update" />

</form>